@using Effect;
@using System.Text.Json;
@page "/newhero"
<div style="display: grid;">
  <span style="font-size: xx-large;justify-self:center;">New Hero</span><br />

  <input type="text" placeholder="Name" style="justify-self:center;" @bind="@Name">

  <input type="number" placeholder="Defense" style="margin-top:20px;justify-self:center;" @bind="@Defense">

  <input type="number" placeholder="Attack" style="margin-top: 20px;justify-self:center;" @bind="@Attack">

  <pre>
    <code style="width: 100%;">
      <textarea style="margin-top:20px;font-size: x-large; height: 100px;width:100%;" @bind="@Condition"
      placeholder="Code of the condition"></textarea>
    </code>
  </pre>

  <pre>
    <code style="width: 100%;">
      <textarea style="margin-top:20px;font-size: x-large; height: 100px;width:100%" @bind="@Action"
      placeholder="Code of the action"></textarea>
    </code>
  </pre>

  <textarea placeholder="Description" style="margin-top: 20px;" @bind=@Description></textarea>

  <input type="button" style="font-size: x-large;margin-top:20px" value="Create New Hero" class="btn btn-success"
    @onclick="OnClickBtnMethod" />
</div>

@code {
  public string Condition;

  public string Action;

  public string Name;

  public string Description;

  public int Attack;

  public int Defense;
  public void OnClickBtnMethod()
  {
    try
    {
      @* Habilitie effect = new Habilitie("(p1,p2)=>p1.HP > p2.HP", "(p1,p2)=>p1.HP -= 10");

        string jsonEffect = JsonSerializer.Serialize<Habilitie>(effect);
        System.Console.WriteLine(jsonEffect);
        Habilitie x = JsonSerializer.Deserialize<Habilitie>(jsonEffect);

        System.Console.WriteLine(x.ActionString);
        System.Console.WriteLine(x.ConditionString); *@

      @* System.Console.WriteLine(jsonEffect); *@
      @* System.Console.WriteLine(x.ConditionString); *@



      GameController.CreateHeroCard(Name, Attack, Defense, Description, Condition, Action);

    }
    catch (System.Exception e)
    {
      System.Console.WriteLine(e.ToString());
      throw;
    }
  }
}
